@import "./colors";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: JetBrainsMono, monospace;
}

:root {
  --background: var(--mint-5);
  --foreground: var(--mint-12);
  --primary: var(--mint-9);
  --primary-foreground: var(--mint-12);
  --secondary: var(--mint-4);
  --secondary-foreground: var(--mint-12);
  --muted: var(--mint-3);
  --muted-foreground: var(--mint-11);
  --accent: var(--mint-4);
  --accent-foreground: var(--mint-12);
  --destructive: var(--red-9);
  --destructive-foreground: var(--red-12);
  --border: var(--mint-6);
  --input: var(--mint-6);
  --ring: var(--mint-7);
  --radius: 0.5rem;
}
